ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222f3d;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: #111;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-right {
  position: absolute;
  bottom: 80px;
  right: 50px;
}
.bottom-right a {
  font-size: xx-large;

  color: rgb(220, 236, 245);
}
.bottom-right a:visited {
  color: beige;
}
.top-left {
  font-size: 4rem;

  color: beige;
  position: absolute;
  top: 8px;
  left: 16px;
}

#viewTable {
  padding: 70px;
  padding-left: 150px;
}
#transferMoney {
  padding: 70px;
  padding-left: 150px;
}

.homelink {
  position: absolute;
  list-style-type: none;
}
.aboutus1 {
  background-color: #fbf3d5;
  padding: 30px;
  margin: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
ul {
  margin-top: 20px;
}

.logo {
  background-image: url(../img/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%s;
  width: 100px;
}

.pages {
  padding-top: 25px;
}
footer {
  display: flex;
}
.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
.fList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}
.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fInput {
  padding: 5px;
}
.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}
.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.copyright {
  font-weight: 300;
  font-style: 14px;
}
